<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.findmyways.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:icon="@drawable/findmyways"
        android:label="@string/app_name" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookWebOAuthActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <activity android:name=".FacebookHomeFeedActivity" />
    </application>

</manifest>